cluster-configurations/**
ansible/kubernetes/monitoring/**
ansible/kubernetes/10-cluster-construction/roles/20-configure-addons/**

kube-files/**
notes.txt
kube.yaml
kube.config
.vscode/**
terraform.tfstate*
tooksDeployPkg.log
opentofu/vmware/kubernetes/.terraform/**
terraform.tfvars
.terraform.lock.hcl
ansible/kubernetes/10-cluster-construction/roles/20-configure-addons/scripts/networking.yaml
